/* CSS DIRECTORY
        1. =GLOBAL
        2. =PRIMARY
        3. =BUTTONS
        4. =HEADER
        5. =SIDEBAR
        6. =FOOTER
        7. =PAGE STYLES 
        8. =MEDIA QUERIES
*/



/* ===============
        GLOBAL  
   =============== */

   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    font-size: 16px;
    color: #444444;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}


/* ===============
        PRIMARY  
     =============== */
p {
    font-size: 14px;
}


h1 {
    font-size: 36px;
    font-weight: bold;
    color: #004976;
}

h2 {
    font-size: 24px;
}

h6 {
    color: #444;
    font-weight: 100;
    font-size: 12px;
}

sup {
    z-index: 0;
    font-size: 10px;
}

.bold {
    font-weight: 900;
    font-style: bold;
}

.link { 
    color: #0065A3;
}

.link:hover { 
    color: #004976;
}

/* ===============
        BUTTONS  
     =============== */


.btn-primary {
    background-color: #004976;
    border: 2px solid #004976;
    font-size: 14px;
    min-width: 80px;
    border-radius: 6px;
}

.btn-success {
    background-color: #148137;
    border: 2px solid #148137;
    font-size: 14px;
    min-width: 80px;
    border-radius: 6px;
}


.btn-success:hover {
    background-color: #ffffff;
    border: 2px solid #148137;
    /* font-size: 14px; */
    color: #148137;

}


.btn-info {
    background-color: #0065A3;
    border: 2px solid #0065A3;
    font-size: 14px;
    min-width: 80px;
    border-radius: 6px;
}


.btn-info:hover {
    background-color: #ffffff;
    border: 2px solid #0065A3;
    /* font-size: 14px; */
    color: #0065A3;

}



.btn-next {
    /* background-color: #444; */
    border: 2px solid #A6ADB4;
    font-size: 14px;
    min-width: 80px;
    color: #444;
    border-radius: 6px;
    width: 200px;
}


.btn-next:hover {
    background-color: #dcdcdc;
    border: 2px solid #444;
    /* font-size: 14px; */
    color: #444;
    width: 200px;

}







.btn-primary:hover {
    background-color: #ffffff;
    border: 2px solid #004976;
    /* font-size: 14px; */
    color: #004976;
}

.btn-secondary {
    background-color: #80A4BA;
    color: #FFFFFF;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-secondary:hover {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}

.button {
    /* padding-top:10px; */
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
}
/* ===============
        HEADER 
     =============== */


header {
    z-index: 99999;
    height: 60px;
    background-color: #fff;
}

.header-wrap {
    padding-left: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.4);
    -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.4);
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.4);
    height: 60px;
    z-index: 9999;
}

.header-tagline {
    margin-top: 15px;
    color: #80A4BA;
    font-weight: bold;
    font-size: 20px;
}

.header-btn-padding {
    color: white;
}

nav {
    position: sticky;
}

.jumbotron {
    color: white;
    background-image: url("../images/help-center-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /* width: 100vw; */
    height: 10%;
    /* padding:0;
      margin:0; */
    margin-bottom: 0;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
      -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
      box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
    /* z-index: 99999; */

}

.jumbotron-main-text {
    /* margin-top:20px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white;
    text-align: center;

}

.jumbotron-subtext {
    padding-top: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

#jumbo-zapp-logo {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.main-wrapper { 
    padding-top: 50px;

}

.buttons-flex { 
    display: flex;
    justify-content: center;

}

.buttons-flex-row { 
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

}

.reports { 
margin-left: 10px; 
margin-right: 10px; 
font-size: 16px;
}



/* ===============
        FOOTER 
     =============== */
footer {
      margin-top: 50px;
      height: 120px;
      background-color: #004976;
      color: white !important;
    }
    
    .footer-text > a { 
      color: white; 
      font-size: 14px;
      font-weight: normal;
    }
    .footer-feedback {
        display: flex;
        /* justify-content: center; */
        justify-content: space-around;
      padding-top: 20px;
    }
    
    .footer-links {
    padding-left: 15px;
    }
    
    .footer-flex{ 
      padding-top: 40px;
      display: flex;
      justify-content: center;
    }
    
    .footer-right { 
      padding-left: 50px; 
    }
    
    .footer-icons { 
      padding-left: 10px;
    }
/* ===============
      PAGE STYLES  
     =============== */

.card-row {
    display: flex;
    justify-content: center;
    /* align-content: center;
      align-items: center;
      align-self: center; */
    margin: 0;
    padding: 0;
    /* width: 10vw; */
}



.icons {
    max-width: 20px !important;
    max-height: 20px !important;
    padding-right: 2px;
}

#bull {
    margin-left: 20%;
}

.bullets {
    padding-bottom: 20px;
}


#jumbo-faq {
    height: 50vh;
}

.question {
    font-size: 16px;
}


/* ===============
      MEDIA QUERIES 
     =============== */

/* ===============
      XS - X-SMALL  
      (portrait phones, less than 576px)
     =============== */
@media (max-width: 575.98px) {
    /* Hide tagline */
    .header-tagline{
    display: none;
    }

    .header-logo { 
        width: 130px !important;
    }


    .sidebar-wrapper {
        color: blue;
        display: none;
    }


    .button { 
        font-size: 10px; 
        height: 40px;
        border-radius: none;
    }

    
}

/* ===============
      S - SMALL  
      (landscape phones, 576px and up)
     =============== */
@media (min-width: 576px) and (max-width: 767.98px) {
        /* Hide tagline */
        .header-tagline{
            display: none;
            }
}


    /* ===============
      M - MEDIUM  
      (tablets, 768px and up)
     =============== */
    @media (min-width: 768px) and (max-width: 991.98px) {
        .header-tagline {
            display: none;
        }

        .terms-hide-mob {
            display: none;
        }

        /* .footer-hide {
            display: none;
        }

        .footer-icons {
            display: none;
        } */

        .sidebar {
            display: none;
        }
    }

    /* ===============
      L - LARGE  
      (desktops, 992px and up)
     =============== */
    @media (min-width: 992px) and (max-width: 1199.98px) {}

    /* .footer-show {
        display: none;
    }

    .footer-hide {
        display: none;
    }

    .footer-icons {
        display: none;
    } */

    .sidebar {
        display: none;
    }
}

/* ===============
      XL - X-LARGE  
      (large desktops, 1200px and up)
     =============== */
@media (min-width: 1200px) {
    /* ... */
}
